<div>
  <span (click)="pf.clearActivity()"><strong>{{selectedPerson.firstName}} {{selectedPerson.lastName}}</strong></span>
  <ul>
    <ng-container *ngFor="let activity of selectedPerson.popularActivities">
      <li>
        <button (click)="pf.selectActivity(activity)">{{activity}}</button>
      </li>
    </ng-container>
  </ul>
  <ul>
    <ng-container *ngFor="let friend of (pf.activitySelected$ | async) ? (pf.friendsSameActivities$ | async) : selectedPerson.friends">
      <li>{{friend}}</li>
      <ul>
        <ng-container *ngFor="let activity of friend.popularActivities">
          <li>{{activity}}</li>
        </ng-container>
      </ul>
    </ng-container>
  </ul>
</div>
