<div>
	<span (click)="pf.clearActivity()"><strong>{{selectedPerson.firstName}} {{selectedPerson.lastName}}</strong></span>
  <ul>
    <ng-container *ngFor="let popular of selectedPerson.popularActivities">
      <li>
        <button (click)="pf.selectActivity(popular.activity)">{{popular.activity}}</button>
      </li>
    </ng-container>
  </ul>
  <ul>
  <ng-container *ngFor="let friend of (pf.activitySelected$ | async) ? (pf.friendsSameActivities$ | async) : selectedPerson.friends">
    <li>{{friend.name}}</li>
    <ul>
    <ng-container *ngFor="let popular of friend.popularActivities">
      <li>{{popular.activity}}</li>
    </ng-container>
  </ul>
  </ng-container>
  </ul>
</div>